body {
background-color: skyblue}

h1, h2 {
    text-align: center;
}



.column {
    float: left;
    width: 50%;
    text-align: center;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }